body{
	background-image: url(./main.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.contacts{
	display: flex;
	flex-direction: column;
	
	width: 50vh;
	margin-left: auto;
	margin-right: auto;
}

.form-group label{
	color: white;
}

.contacts h2{
	color: white;
}

.contact-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

.contact-form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #555;
}
